/*Basic Elements*/
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /*font-family: Comic Sans MS;*/
}
body {
    background-color: black;
}
/*Text*/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, th, td, tr, li {
    color: #00FF33;
    font-size: 24px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.cursive {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.underlined {
    text-decoration: underline;
}
.marginbottom {
    margin-bottom: 1em;
}
.link:hover {
    color: red;
}
/*Images*/
.captain {
    width: 100%;
    height: auto;
}
.emperor {
    height: auto;
    width: 100%;
}
.de_rede {
    width: 100%;
    height: auto;
}
.memes {
    dankness: maximum;
    spicyness: very spicy;
    width: 30vw;
    height: auto;
}
.emperormeme {
    animation: grow 10s;
    animation-fill-mode: forwards;
}
/*Lists*/
ul, ol {
    padding: 1em;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
/*Tables*/
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}
th {
    border: 4px solid #00FF33;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td {
    border: 2px solid #00FF33;
    font-family: 'Courier New', Courier, monospace;
}
.blok {
    background-color: #00FF33;
    color: black;
    font-weight: bold;
}
.blok_inprogress {
    background-color: cyan;
    color: black;
    font-weight: bold;
}
.blok_failed {
    background-color: red;
    color: #00FF33;
    font-weight: bold;
}
.total {
    text-align: left;
    padding-left: 13em;
}
/*Navbar*/
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0em;
    width: 95%;
    margin: 0.5% 2.5%;
    border: 2px dashed #00FF33;
    background-color: black;
}
.navbar a {
    text-decoration: none;
}
.navcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbutton {
    height: 9vh;
    width: 12vw;
    min-height: 5em;
    min-width: 10em;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbutton_active {
    height: 9vh;
    width: 12vw;
    min-height: 5em;
    min-width: 10em;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00FF33;
    color: black;
}
.navbutton:hover {
    background-color: #00FF33;
    color: black;
}
/*Main Content Classes*/
.content {
    margin-top: 18em;
    padding: 0 1em;
}
.content p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}
.container {
    display: flex;
    justify-content: space-around;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}
.text_box {
    width: 60vw;
    padding: 0 1em;
    margin: 0 auto;
}
.text_box p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}
.image_box {
    width: 18vw;
    height: auto;
}
.image_box p {
    font-style: italic;
    margin-bottom: 1em;
}
.anchor {
    padding-top: 180px;
    margin-top: -180px;
}
/*Sitemap*/
.sitemap {
    position: fixed;
    bottom: 1em;
    width: 3.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.sitemap:hover {
    color: red;
}
/*Keyframes*/
@keyframes grow {
    0% {height: initial; width: initial;}
    20% {height: 25vh; width: 20vw;}
    30% {height: 30vh; width: 30vw;}
    40% {height: 40vh; width: 40vw;}
    50% {height: 50vh; width: 50vw;}
    60% {height: 60vh; width: 60vw;}
    70% {height: 70vh; width: 70vw;}
    80% {height: 80vh; width: 80vw;}
    90% {height: 90vh; width: 90vw;}
    100% {height: 100vh; width: 100vw;}
}